.cards-container {
  display: flex;
  justify-content: center; 
  align-items: center;  
  height: 40vh;    
  padding-top: 10px;     
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;    
  padding: 10px;
  width: 90%;
  max-width: 300px;       
  border-radius: 8px;
  overflow: hidden;
  background-color: rgb(253, 253, 253);
}

.product-card img{
  width: 100%;            
  height: auto;
  border-radius: 30px;
}

.product-info {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  width: 90%;                    
  margin-top: 20px;             
}

.product-info div {
  display: flex;
  flex-direction: column;         
  align-items: flex-start;      
}

.product-info .product-price {
  margin: 0;
}

.product-info .product-name {
  margin: 0;
  color: gray;
}

.product-info figure {
  margin: 0;
}

.product-counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-top: 30px;
}

.product-counter button {
  background-color: rgb(212, 163, 123);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 1.3rem;
}

.product-counter button:hover {
  background-color: rgb(223, 182, 150);
}

.product-price {
  margin: 0;
  font-weight: bold;
}

.product-soldOut {
  margin-top: 20px;
  text-align: center;
  color: red;
  font-size: 1em;
  font-weight: bold;
}

