
<div class="cards-container">
  <div class="product-card">
    <img class="product-image" [src]="product.image" 
    alt="Product Image" />
    <div class="product-info">
      <div class="product-details">
        <p class="product-price">${{ product.price.toFixed(2) }}</p>
        <p class="product-name">{{ product.name }}</p>
      </div>
      <figure>
        <img class="icon" src="assets/icons/bt_add_to_cart.svg" alt="" />
      </figure>
    </div>
    <div class="product-counter">
      <button (click)="addProduct()">+</button>
      <p>{{ cantidad }}</p>
      <button (click)="removeProduct()">-</button>
    </div>
    <div *ngIf="soldOut" class="product-soldOut">
      <b> Producto Agotado</b>
    </div>
  </div>
</div>







